<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <!--    <link th:href="@{/order/css/order.css}" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" th:href="@{/order/css/productSu.css}" type="text/css">
</head>
<body>
<!-- 树 -->
<div class="layui-table">
    <!-- 表格主体 -->
    <table class="layui-hide" id="productTable" lay-filter="test"></table>
    <!-- 模板 -->
    <script type="text/html" id="productSuTable">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">产品ID</label>
                <div class="layui-input-inline">
                    <input type="text" id="prodcutId" name="prodcutId" autocomplete="off" -->
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">产品名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="prodcutName" name="prodcutName" autocomplete="off" -->
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">上游产品Id</label>
                <div class="layui-input-inline">
                    <input type="text" id="upProdcutId" name="upProdcutId" autocomplete="off" -->
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">上游产品名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="upProdcutName" name="upProdcutName" autocomplete="off" -->
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">产品面值</label>
                <div class="layui-input-inline">
                    <input type="text" id="productValue" name="productValue" autocomplete="off" -->
                </div>
            </div>


            <input type="hidden" th:value="${userName}" id="userName" name="userName">
        </div>
        <button class="layui-btn layui-btn-sm" lay-event="query">查询<i class="layui-icon layui-icon-search"></i>
        </button>
    </script>
</div>
</body>
<!-- js -->
<script th:src="@{/order/js/productSu.js}"></script>
</html>